<div id="mySidenav" class="sidenav">
  <!--
  <a href="index.html" target="blank">Hjem</a>
  -->

  <!-- Add some vertical space -->
  <br> <!-- This creates a small space -->

  <!-- Title for the lectures -->
  <a style="margin: 10px 0;">Forelesninger og oppgaver</a>

  <!-- Link for Forelesning/seminarer -->
  

  <!-- Add some vertical space -->
  <br> <!-- This creates a small space -->

  <!-- Title for the anbefalte læringsressurser -->
  <a style="margin: 10px 0;">Anbefalte læringsressurser</a>
  <a href="https://www.youtube.com/watch?v=_uQrJ0TkZlc">All the basics</a>
  <a href="https://www.youtube.com/watch?v=DkjCaAMBGWM">Hva er Pandas?</a>
  <a href="https://www.youtube.com/watch?v=kQUwImj32PA">"Tenk som en programmerer"</a>
  <a href="https://www.youtube.com/watch?v=nogh434ykF0">Tips til en koder</a>

</div>
