<div id="mySidenav" class="sidenav">

  <a href="index.html" target="blank">Hjem</a>
  <a href="forelesningsplan.html">Forelesningsplan</a>
  <a href="eksamen.html">Eksamen og vurdering</a>

  <!-- Add some vertical space -->
  <br> <!-- This creates a small space -->

  <!-- Title for the lectures -->
  <a style="margin: 10px 0;">Forelesninger og oppgaver</a>

  <!-- Link for Forelesning/seminarer -->
  <a href="https://github.com/uit-bed-1504-h25/uit-bed-1504-h25.github.io/tree/main/notebooks">Forelesninger</a>
  <a href="https://github.com/uit-bed-1504-h25/uit-bed-1504-h25.github.io/tree/main/oppgaver">Seminarer</a>

  <!-- Add some vertical space -->
  <br> <!-- This creates a small space -->

  <!-- Title for the anbefalte læringsressurser -->
  <a style="margin: 10px 0;">Anbefalte læringsressurser</a>
  <a href="https://www.youtube.com/watch?v=_uQrJ0TkZlc">All the basics</a>
  <a href="https://www.youtube.com/watch?v=DkjCaAMBGWM">Hva er Pandas?</a>
  <a href="https://www.youtube.com/watch?v=kQUwImj32PA">"Tenk som en programmerer"</a>
  <a href="https://www.youtube.com/watch?v=nogh434ykF0">Tips til en koder</a>

</div>
